.image{
    width: 20rem;
}

.main {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    width: 34rem;
    text-indent: 3rem;
    text-align: justify;
    line-height: 1.3rem;
    margin: 2rem;
}

.main a {
    padding: 12px 36px;
    border: 4px solid #FF5F1F;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}
.main a:hover {
    background: #FF5F1F;
    color: white;
}