@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
}


nav {
    width: calc(100vw - 1rem);
    height: calc(3.5rem - 5px);
    padding: 0.5rem;
    background: white;
    border-bottom: 5px solid #FF5F1F;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
    list-style-type: none;
}

ul a {
    padding: 20px;

    display: block;
    text-align: center;
    
    transition-duration: 300ms;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

ul a:hover {
    transform: translateY(-2px);
}

.bg {
    width: 100vw;
    background: #E6E6E6;
    height: calc(100vh - 4.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: calc(90vh - 4.5rem);
    width: 44rem;
    background: white;
    border-top: 5px solid #B3B3B3;
    border-bottom: 5px solid #B3B3B3;
    overflow-y: auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #B3B3B3;
    padding: 8px 10px 12px 10px;
}

.header h1, h3 {
    margin-block: 0;
}
.header h1 {
    font-size: 1.8rem;
}
div.main {
    padding: 10px 60px;
}


.team_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team_list h4 {
    margin-block: 5px;
}
.team {
    padding: 0px 0px 0px 12px;
    margin: 8px 0px;
    width: calc(100% - 12px);
    border-left: 3px solid #FF5F1F;
}
.team p {
    margin-block: 7px;
}
.title {
    color: #B3B3B3;
}
.team a {
    color: black;
    text-decoration: none;
}
.team a:hover {
    color: #FF5F1F;
}

.box {
    flex-grow: 1;
}
.box label {
    color: #B3B3B3;
    font-size: 12px;
    width: 100%;
}
.box p{
    margin-block: 0;
}
.box label a {
    color: #B3B3B3;
}
.box label a:hover {
    color: #FF5F1F;
}
.box input {
    padding: 8px;
    width: calc(100% - 16px);
    border: none;
    outline: none;
    border-bottom: 2px solid #B3B3B3;
}

.box input:hover {
    border-bottom: 2px solid #FF5F1F;
}
.box select {
    padding: 7px;
    width: calc(100% - 16px);
    border: none;
    outline: none;
    border-bottom: 2px solid #B3B3B3;
}
.box select:hover {
    border-bottom: 2px solid #FF5F1F;
}

