.team_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team {
    padding: 8px 16px;
    width: calc(100% - 64px);
}
.team p {
    margin-block: 7px;
}
.title {
    color: #B3B3B3;
}
.team a {
    color: black;
    text-decoration: none;
}
.team a:hover {
    color: #FF5F1F;
}